#  This file is part of calamares-oem.
#

[Unit]
Description=Delete OEM user
ConditionPathExists=!/etc/oemskel

[Service]
Type=oneshot
ExecStart=userdel -f -r oem
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
