[Desktop Entry]
Name=CPU Frequency Scaling Indicator
Name[ast]=Indicador de frecuencia CPU n'escala
Name[az]=MPQ Tezliyini Ölçən İndikator
Name[be]=Індыкатар частаты працэсара
Name[bg]=Индикатор за честотата на процесора
Name[ca]=Indicador de la Escala de Freqüència de la CPU
Name[cs]=Indikátor škálování frekvence CPU
Name[de]=CPU-Frequenzskalierungsanzeige
Name[en_AU]=CPU Frequency Scaling Indicator
Name[en_GB]=CPU Frequency Scaling Indicator
Name[es]=Frecuencia de la CPU de escala en el indicador
Name[fa]=نماگر میزان فرکانس CPU
Name[fi]=Suorittimen kellotaajuuden ilmaisin
Name[fr]=Indicateur d'ajustement de fréquence du CPU
Name[gl]=Indicador da escala de frecuencia da CPU
Name[he]=מחוון שינוי בתדירות המעבד
Name[hr]=Indikator CPU frekvencije
Name[hu]=CPU-frekvencia skálázó indikátor
Name[ia]=Indicator de scala de frequentia de CPU
Name[id]=Indikator Penskalaan Frekuensi CPU
Name[it]=Indicatore della frequenza della CPU
Name[lt]=CPU dažnio stebėjimas bei keitimas
Name[ms]=Penunjuk Penskalaan Frekuensi CPU
Name[pl]=Aplet skalowania częstotliwości procesora
Name[pt]=Indicador da velocidade do processador.
Name[pt_BR]=Indicador de escala de frequência da CPU
Name[ru]=Индикатор частоты процессора
Name[si]=මධ්‍යම සැකසුම් ඒකකයේ සංඛ්‍යාත පරිමාණන දර්ශකය
Name[sk]=CPU indikátor hodnoty frekvencie
Name[sr]=Показивач учестаности процесора
Name[uk]=Індикатор масштабування частоти процесора
Name[zh_CN]=CPU 频率调节指示器
Comment=An indicator for monitoring and switching CPU frequency scaling
Comment[ast]=Un indicador pal siguimientu ya la camudancia d'escala de frecuencia CPU
Comment[az]=MPQ-nua nəzarət etmək və tezlik dəyişdirmək üçün göstərici
Comment[be]=Індыкатар для адлюстравання і пераключэння частаты працэсара
Comment[bg]=Индикатор за наблюдение и превключване на честотата на процесора
Comment[ca]=Un indicador pel seguiment i el canvi d'escala de freqüència de CPU
Comment[cs]=Indikátor pro monitorování a přepínání frekvence CPU
Comment[de]=Eine Anzeige zum Beobachten und Ändern der CPU-Frequenzskalierung
Comment[en_AU]=An indicator for monitoring and switching CPU frequency scaling
Comment[en_GB]=An indicator for monitoring and switching CPU frequency scaling
Comment[es]=Un indicador para el seguimiento y el cambio de escala de frecuencia de CPU
Comment[fa]=نماگری برای نمایش و تغییر میزان فرکانس CPU
Comment[fi]=Ilmaisin suorittimen kellotaajuuden hallintaa varten
Comment[fr]=Un indicateur de surveillance et de commutation d'ajustement de fréquence du CPU
Comment[gl]=Un indicador para a supervisión e o cambio de escala de frecuencia da CPU
Comment[he]=מחוון למעקב ולהחלפה בין תדירויות המעבד
Comment[hr]=Indikator za nadzor i promjenu CPU frekvencije
Comment[hu]=Egy indikátor a CPU-frekvencia skálázás megjelenítésére és annak változtatására
Comment[ia]=Un indicator pro controlar e cambiar le scala de frequentia de CPU
Comment[id]=Indikator untuk pemantauan dan pengubahan penskalaan frekuensi CPU
Comment[it]=Un indicatore per il monitoraggio e la modifica della frequenza della CPU
Comment[lt]=Procesoriaus dažnio stebėjimo bei keitimo indikatorius
Comment[ms]=Merupakan penunjuk untuk memantau dan menukar penskalaan frekuensi CPU
Comment[pl]=Wskaźnik monitorowania i przełączania skalowania częstotliwości procesora
Comment[pt]=Um indicador para monitorizar e alterar a velocidade do processador.
Comment[pt_BR]=Um indicador para monitorar e alternar a escala de frequência da CPU
Comment[ru]=Индикатор для отображения и переключения частоты процессора
Comment[si]=මධ්‍යම සැකසුම් ඒකකයේ සංඛ්‍යාත පරිමාණනය මන්තු කිරීම හා  මාරුකිරීම සඳහා වූ දර්ශකයකි
Comment[sk]=Indikátor pre monitorovanie a prepínanie zmenenej CPU frekvencie
Comment[sr]=Показивач преко којег можете надгледати и мењати такт процесора
Comment[uk]=Індикатор для спостереження та перемикання масштабування частоти процесора
Comment[zh_CN]=一款监控并切换 CPU 频率的指示器
Exec=indicator-cpufreq
Type=Application
Icon=indicator-cpufreq-50
